.page-tools{
  display: flex;
  --side-width: 200px;

  aside{
    width: var(--side-width);
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: auto;
    position: sticky;
    top: var(--header-height);
    @include utils.mediaSmall() {
      display: none;
    }
  }
}

.navigation{
  li{
    line-height: 2;
    font-size: 16px;
    &:not(:last-child){
      border-bottom: 1px solid var(--line-color);
    }
    > a{
      display: block;
      padding: 0 6px;
    }
    :global(.exact-active){
      background: var(--line-color);
    }
  }
}

.content{
  width: calc(100% - var(--side-width));
  margin-left: 14px;
  @include utils.mediaSmall() {
    width: 100%;
    margin-left: 0;
  }
  > h2{
    margin-top: 10px;
  }
  :global(#container){
    min-height: 260px;
    border: 1px solid var(--line-color);
    overflow-x: auto;
  }
}