.br-code-edit-fold{
  --row-width: 44px;
  .row-num li{
    span{
      --size: 5px;
      display: inline-block;
      border: var(--size) solid transparent;
      &.unfold, &.fold{
        transition: transform .3s;
        border-left-color: #666;
        cursor: pointer;
      }
      &.fold{
        transform: rotate(90deg);
      }
    }
    label{
      display: inline-block;
      width: calc(var(--row-width) - 14px);
      text-align: center;
    }
  }
}