@use './utils.scss';

:root{
  --header-height: 60px;
  --footer-height: 100px;

  --both-sides-padding: 20px;

  --main-bg-color: #fff;
  --mark-bg-color: #f5f5f6;
  --main-font-color: #404040;
  --mark-font-color: #999;
  --link-font-color: #6088b6;

  @include utils.mediaPhone() {
    --both-sides-padding: 10px;
  }
  @include utils.themeDark() {
    --main-bg-color: #1a1a1a;
    --main-font-color: #dadada;
    --mark-bg-color: #0e2a35;
  }
}

html{
  font-size: 14px;
  color: var(--main-font-color);
  font-family: "Arial";
}
body{
  background: var(--main-bg-color);
}
body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--link-font-color);
}
input{
  outline: none;
}
input, button {
  appearance: none;
  border-radius: 0;
}

@include utils.mediaIpad() {
  /* 移动端 a 标签点击时有默认阴影 */
  li, a, input, button {
    -webkit-tap-highlight-color: transparent;
  }
}
