.header{
  position: relative;
  height: 50vh;
  @include utils.mediaSmall{
    height: 40vh;
  }
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

.title{
  --color: #eeec;
  font-size: 5em;
  color: var(--color);
  text-shadow: 2px 2px 2px var(--main-bg-color), 0 0 0 var(--mark-font-color), 2px 2px 2px var(--main-bg-color);
  text-align: center;
  white-space: nowrap;
  @include utils.mediaSmall{
    font-size: 3em;
    white-space: normal;
  }
}
@include utils.themeDark{
  .title{
    --color: #eee4;
  }
}