.code-highlight-container{

  color: #515a6e;

  .block-comment, .line-comment{
    color: #969896;
  }
  
  .string{
    color: #008000;
  }
  
  .constant{
    color: #116699;
  }
  
  .keyword{
    color: #7928a1;
  }
  
  .methods{
    color: #007faa;
  }
  
  .number{
    color: #aa5d00;
  }
  
  .object{
    color: #008cb3;
  }

}