.page-utils{
  display: flex;
  --side-width: 200px;

  aside{
    width: var(--side-width);
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: auto;
    position: sticky;
    top: var(--header-height);
    @include utils.mediaSmall() {
      display: none;
    }
  }
}


.navigation{
  li{
    line-height: 2;
    font-size: 16px;
    &:not(:last-child){
      border-bottom: 1px solid var(--line-color);
    }
    > a{
      display: block;
      padding: 0 6px;
    }
    :global(.exact-active){
      background: var(--line-color);
    }
  }
}

.content{
  width: calc(100% - var(--side-width) * 2);
  @include utils.mediaMiddle() {
    width: calc(100% - var(--side-width));
  }
  @include utils.mediaSmall() {
    width: 100%;
  }
}

.outline{
  @include utils.mediaMiddle() {
    display: none;
  }
  li{
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 2;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid var(--line-color);
  }
  .total{
    margin-top: 10px;
    font-size: 12px;
    text-align: right;
    color: #999;
  }
}
