@use './utils.scss';

html{
  font-size: 14px;
  color: var(--main-font-color);
  font-family: "Arial";
}
body{
  background: var(--main-bg-color);
}
body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--link-font-color);
}
input, select, textarea{
  outline: none;
}
input, button {
  appearance: none;
  border-radius: 0;
}

::-webkit-scrollbar{
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb{
  background: var(--scrollbar-color);
  border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-track{
  background: var(--mark-bg-color);
}
@include utils.themeDark{
  --scrollbar-color: #888;
}

@include utils.mediaMiddle() {
  /* 移动端 a 标签点击时有默认阴影 */
  li, a, input, button {
    -webkit-tap-highlight-color: transparent;
  }
}
