.header{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 var(--both-sides-padding);
  line-height: 60px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  backdrop-filter: blur(16px);
  z-index: 999;
  .title{
    font-size: 18px;
  }
  .icon-menu{
    display: none;
  }
  >nav{
    a{
      padding: 0 20px;
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      &:global(.active) {
        background: rgba(204,227,255,.14);
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
  @include utils.mediaPhone(){
    .icon-menu{
      display: inline-block;
      width: 22px;
      height: 18px;
      position: relative;
      margin-right: 10px;
      vertical-align: middle;
      transform: translateY(-2px);
      cursor: pointer;
      &::before, &::after{
        content: '';
        transition: transform .3s, background-color .3s;
      }
      > span, &::before, &::after{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--link-font-color);
      }
      > span{
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .3s;
      }
      &::before{
        top: 0;
        transform-origin: center left;
      }
      &::after{
        bottom: 0;
        transform-origin: center left;
      }
      &.active{
        &::before{
          transform: rotate(45deg);
        }
        &::after{
          transform: rotate(-45deg);
        }
        > span{
          opacity: 0;
        }
      }
    }
    >nav{
      position: absolute;
      top: 60px;
      left: 0;
      background: white;
      width: 100%;
      transform: translateX(-100%);
      transition: transform .3s;
      line-height: 46px;
      > a{
        width: 100%;
        &:not(:last-child){
          border-bottom: 1px solid #eee;
        }
      }
      &.active{
        transform: translateX(0);
        box-shadow: 0 6px 10px rgba(0,0,0,.1);
      }
    }
  }
}

.main{
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 76vh;
}
@include utils.mediaPhone(){
  .main{
    margin-top: 0;
  }
}

.footer{
  border-top: 1px solid #eee;
  padding: 20px 0;
  line-height: 2;
  text-align: center;
}